/* 1. exercice-1 */
.exercice-1 .container{
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-around;
}
/* 2. exercice-2 */
.exercice-2 .container{
  display:flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center
}
/* 3. exercice-3 */
.exercice-3 .container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.exercice-3 .element-blue{
  align-self: flex-start;
  order: 1;
}

.exercice-3 .element-red{
  order: 2;
}

.exercice-3 .element-green{
  order: 3;
}

.exercice-3 .element-pink{
  order: 4;
}
/* 4. exercice-4 */
.exercice-4 .container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exercice-4 .element-red{
  order: 1;
}

.exercice-4 .element-blue{
  order: 4;
}

.exercice-4 .element-green{
  order: 2;
}

.exercice-4 .element-pink{
  order: 3;
  align-self: flex-start;
}

/* 5. exercice-5 */
.exercice-5 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* 6. exercice-6 */

.exercice-6 .container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: space-between;
}
/* 7. exercice-7 */

.exercice-6 .element-pink{
  flex-grow: 1;
}

.exercice-6 .element-yellow{
  flex-grow: 1;
}

.exercice-6 .element-grey{
  flex-grow: 1;
}

.exercice-6 .element-green{
  flex-grow: 1;
}

/* 7. exercice-7 */
.exercice-7 .container {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
/* 8. exercice-8 */
.exercice-8 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-items: center;
  align-content: center;
}

.exercice-8 .element-yellow{
  order: 3;
  flex-grow: 3;
}

.exercice-8 .element-red{
  order: 1;
  flex-grow: 1;
}

.exercice-8 .element-blue{
  order: 2;
  flex-grow: 2;
}

.exercice-8 .element-pink{
  order: 4;
  flex-grow:1;
}

/* 9. exercice-9 */

/* 10. exercice-10 */
}

/* 10. exercice-10 */
.exercice-10 .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
